/****** GLOBAL STYLES *****/

.small {
	font-size: 90%;
}

.big-lead {
	font-size: 1.75rem;
	font-weight: 300;
}

.text-light {
	color: rgba(255,255,255,.75) !important;
}

.text-secondary {
	color: #5c636a!important;
}

.border-very-light {
	border-color: #f8f9fa!important;
}

@media only screen and (min-width: 992px) {
	.py-lg-6 {
		padding-top: 90px !important;
		padding-bottom: 90px !important;
	}
}

.h5, h5 {
	font-size: 1rem;
}

@media only screen and (min-width: 992px) {
	.h5, h5 {
		font-size: 1.15rem;
	}
}

/***** HEADER *******/

.navbar-main i {
	font-size: 20px;
}

.menu-icon-wrapper {
	position: absolute;
	top: 22px;
	right: 15px;
}

@media only screen and (min-width: 992px) {
	.menu-icon-wrapper {
		position: relative;
		top: unset;
		right: unset;
	}

	#mobileMenu .nav-item a {
		padding-bottom: 6px;
		margin-bottom: -6px;
		border-bottom: 1px solid transparent;
	}

	#mobileMenu .nav-item a:hover {
		border-bottom: 1px solid #00CBB8;
	}
}

@media only screen and (max-width: 992px) {
	.navbar-main > .container {
		max-width: 100%;
	}
}

.mobile-menu .nav-item, .desktop-categories .nav-item {
	width: 50%;
}

#mobileMenu h5:after {
	font-family: FontAwesome;
	float: right;
	font-weight: 900;
	content: "\f078"
}

#mobileMenu h5[aria-expanded="false"]:after {
	content: "\f078"
}

#mobileMenu h5[aria-expanded="true"]:after {
	content: "\f077"
}



@media only screen and (min-width: 992px) {
	#mobileMenu #quickLinksWrapper {
		display: flex !important;
	}
}

/****SEARCH DROPDOWN ***/

#searchDropdown input, #newsletter input {
	height: 55px;
	padding-left: 55px;
}

#searchDropdown i {
	left: 15px;
	top: 20px;
}

/***HERO PANEL***/

#hero, #newsletter {
	background-color: #00BDAB;
}

#hero h1 {
	font-size: 28px;
}

#hero .lead {
	font-size: 1rem;
}

@media only screen and (min-width: 992px) {
	#hero h1 {
		font-size: 45px;
	}

	#hero .lead {
		font-size: 1.25rem;
	}
}

/***** THUMBNAILS *******/

.thumbnail {
	min-width: 50%;
}

@media only screen and (min-width: 992px) {
	.thumbnail {
		min-width: 25%;
	}
}


.thumb-img-wrapper {
	height: 255px;
}

.thumb-img-wrapper img {
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.thumbnail .card-title {
	height: 80px;
}

@media only screen and (max-width: 340px) {
	.thumbnail .card-title {
		height: auto;
	}
}

.was-price {
	text-decoration: line-through;
}

.thumbnail .badges {
	right: 0;
}

/*******HOME TESTIMONIALS******/

#homeTestimonials {
	background-image: url("/img/testimonial-bg.jpg");
	background-size: cover;
	background-position: center center;
}

.testimonial-slide span {
	font-size: 150%;
	transform: translate(-160%, -40%);
	position: absolute;
}

.testimonials-wrapper .slick-dots li button:before {
	color: #ffffff;
	font-size: 12px;
}

.testimonials-wrapper .slick-dots {
	position: static;
}