/****** GLOBAL STYLES *****/

.small {
	font-size: 90%;
}

.text-light {
	color: rgba(255,255,255,.75) !important;
}

@media only screen and (min-width: 992px) {
	.py-lg-6 {
		padding-top: 90px !important;
		padding-bottom: 90px !important;
	}
}

/***** HEADER *******/

.navbar-main i {
	font-size: 20px;
}

.menu-icon-wrapper {
	position: absolute;
	top: 22px;
	right: 15px;
}

@media only screen and (min-width: 992px) {
	.menu-icon-wrapper {
		position: relative;
		top: unset;
		right: unset;
	}

	#navbarNav .nav-item a {
		padding-bottom: 6px;
		margin-bottom: -6px;
		border-bottom: 1px solid transparent;
	}

	#navbarNav .nav-item a:hover {
		border-bottom: 1px solid #00CBB8;
	}
}

@media only screen and (max-width: 992px) {
	.navbar-main > .container {
		max-width: 100%;
	}
}

.mobile-menu .nav-item, .desktop-categories .nav-item {
	width: 50%;
}

/****SEARCH DROPDOWN ***/

#searchDropdown input {
	height: 55px;
	padding-left: 55px;
}

#searchDropdown i {
	left: 15px;
	top: 20px;
}

/***HERO PANEL***/

#hero {
	background-color: #00BDAB;
}

#hero h1 {
	font-size: 28px;
}

#hero .lead {
	font-size: 1rem;
}

@media only screen and (min-width: 992px) {
	#hero h1 {
		font-size: 45px;
	}

	#hero .lead {
		font-size: 1.25rem;
	}
}


