/****** GLOBAL STYLES *****/

* {
	font-family: 'IBM Plex Sans', sans-serif;
}

.py-half {
	padding-bottom: .125rem;
	padding-top: .125rem;
}

.small {
	font-size: 90%;
}

.text-light {
	color: rgba(255,255,255,.75) !important;
}

.text-secondary {
	color: #5c636a!important;
}


@media only screen and (min-width: 992px) {
	.py-lg-6 {
		padding-top: 90px !important;
		padding-bottom: 90px !important;
	}
}

.h5, h5 {
	font-size: 1rem;
}

@media only screen and (min-width: 992px) {
	.h5, h5 {
		font-size: 1.15rem;
	}
}

/***** HEADER *******/


.navbar-main i {
	font-size: 20px;
}

#quickLinksWrapper .dropdown > .dropdown-menu {
	display: block;
	background-color: rgba(255, 255, 255, 0.1) !important;
}

#mainNavWrapper {
	height: 60px;
}

.menu-icon-wrapper {
	position: relative;
	top: unset;
	right: unset;
}

#mainMenu .nav-item > a:hover {
	color: #ffffff !important;
}

#mainMenu .dropdown-menu > a:hover {
	color: #212529 !important;
}

#quickLinksWrapper .dropdown > .dropdown-menu {
	display: none;
}

#quickLinksWrapper .dropdown:hover > .dropdown-menu {
	display: block;
	background-color: #343a40!important;
}

#quickLinksWrapper .dropdown-menu a:last-child {
	padding-bottom: .5rem;
}

.mobile-menu .nav-item, .desktop-categories .nav-item {
	width: 50%;
}

/****SEARCH DROPDOWN ***/

#searchDropdown input, #newsletter input {
	height: 55px;
	padding-left: 55px;
}

#searchDropdown i {
	left: 15px;
	top: 20px;
}

/***HERO PANEL***/

#hero, #newsletter {
	background-color: #00BDAB;
}

#hero h1 {
	font-size: 28px;
}

#hero .lead {
	font-size: 1rem;
}

@media only screen and (min-width: 992px) {
	#hero h1 {
		font-size: 45px;
	}

	#hero .lead {
		font-size: 1.25rem;
	}
}

/***** THUMBNAILS *******/

.thumbnail {
	min-width: 50%;
}

@media only screen and (min-width: 992px) {
	.thumbnail {
		min-width: 25%;
	}
}

.thumb-img-wrapper {
	height: 255px;
}

.thumb-img-wrapper img {
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.thumbnail .card-title {
	height: 80px;
}

@media only screen and (max-width: 340px) {
	.thumbnail .card-title {
		height: auto;
	}
}

.was-price {
	text-decoration: line-through;
}

.thumbnail .badges {
	right: 0;
}

/*******HOME TESTIMONIALS******/

#homeTestimonials {
	background-image: url("../img/testimonial-bg.jpg");
	background-size: cover;
	background-position: center center;
}

.testimonials-wrapper .slick-dots li button:before {
	color: #ffffff;
	font-size: 12px;
}

.testimonials-wrapper .slick-dots {
	position: static;
}

/**********HOME BLOGS************/

.chevron-list > li:before {
	font-family: FontAwesome;
	font-weight: 900;
	content: "\f054";
	margin-right: 15px;
}

@media only screen and (min-width: 992px) {
	.recent-blog-posts {
		border-left: 1px solid rgba(255,255,255,.75);
		padding-left: 60px;
	}
}

/*********FOOTER***********/

